body {
	background: #F1F4F6;
}

.mbutton {
	border: 0;
	outline: none;
	cursor: pointer;
	color: #fff;
	background: #02A0E9;
}

.mbutton:active {
	background: #2C91BF;
}

#content_header {
	background: #566475;
	margin-top: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
}

#content_header .user_img {
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	border-radius: 50%;
	position: relative;
}

#user_img {
	width: 150px;
	min-height: 150px;
	max-height: 170px;
}

#content_header .user_name {
	text-align: center;
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}

#content {
	background: #fff;
	padding: 30px;
	width: 964px;
	color: #888;
	min-height: 400px;
}

#content>div {
	margin-top: 12px;
}

#content>div>span.tags {
	display: inline-block;
}

#content>div>p {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 0;
	color: #555;
	text-indent: 2em;
}

#apply {
	padding: 7px 20px;
	margin-top: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
}

#content>.log {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-left: -100px;
}

#log_info {
	display: none;
	background: rgba(210, 253, 177, .7);
	color: #566475;
	padding: 10px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}

#log_info.error {
	background: rgba(253, 219, 177, .7);
}